<header>
  <div class="header-top-area"  [ngClass]="{'header-top-invisible':headerTop == false}">
      <div class="container">
          <div class="header-top-main">
              <div class="header-discount">
                  <div>
                      <h3>During sale periods the delivery time may be longer than normal.</h3>
                  </div>
                  <!-- <div>
                      <button>Get Register</button>
                  </div> -->
              </div>
              <div class="header-top-close">
                  <span (click)="closeHeaderTop()"><i class="fa fa-xmark"></i></span>
              </div>
          </div>
      </div>
  </div>

  <div class="header-container" [ngClass]="{'header-fixed': headerFixed == true}">

          <div class="search-bar">

              <div class="sb-1">
                  <p> WELCOME TO J.</p>
              <p> SIGN IN</p>
              <img src="https://cdn.britannica.com/46/3346-004-D3BDE016/flag-symbolism-Pakistan-design-Islamic.jpg" alt="" srcset="" style="width:22px;height: 16px;">
              <p> TRACKING INFO</p>
              <p> bdt</p>
          </div>

          <div class="sb-3">
          <i class="fa fa-shopping-bag" style="font-size:18px" ></i>
          <div class="sb-2">
              <i class="fa fa-search" style="font-size:15px" ></i>
              <p>SEARCH</p>
          </div>
      </div>

          </div>

<!-- <div class="main-logo">
<img src="../../../assets/images/logo/main-logo.png" alt="" srcset="" >
</div> -->

<!-- mega menu start -->
<nav>
<div class="wrapper">
  <input type="radio" name="slider" id="menu-btn">
  <input type="radio" name="slider" id="close-btn">
  <ul class="nav-links">
    <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>

    <li>
      <a routerLink="/new-arrival" routerLinkActive="active" class="desktop-item animation1">NEW ARRIVALS</a>
      <input type="checkbox" id="showMega">
      <label for="showMega" class="mobile-item">Mega Menu</label>
      <div class="mega-box">
        <div class="content">
          <div class="row">
            <img src="../../../assets/images/products/womenOffer/women2.webp" alt="">
          </div>
          <div class="row">
            <header>WOMEN - FESTIVE AFFAIR '22
            </header>
            <ul class="mega-links">
              <li><a href="#">UNSTITCHED COLLECTEEN BOYS</a></li>
              <li><a href="#">STITCHED COLLECTICKID GIRLS </a></li>
              <li><a href="#">KURTI COLLECTION KID BOYS</a></li>
            </ul>
          </div>
          <div class="row">
            <header>YOUNGESTER FESTIVAL OFFER</header>
            <ul class="mega-links">
              <li><a href="#">TEEN BOYS</a></li>
              <li><a href="#">KID GIRLS</a></li>
              <li><a href="#">KID BOYS</a></li>

            </ul>
          </div>
          <div class="row">
            <header>MEN FESTIVAL CELEBRATION</header>
            <ul class="mega-links">
              <li><a href="#">KAMEEZ SHALWAR COLLECTION</a></li>
              <li><a href="#">KURTA COLLECTION</a></li>
              <li><a href="#">WAISTCOAT COLLECTION</a></li>
              <li><a href="#">FOOTWEAR COLLECTION</a></li>
            </ul>
          </div>
          <div class="row">
            <img src="../../../assets/images/products/womenOffer/Men_4.webp" alt="">
          </div>
        </div>
      </div>
    </li>

    <li>
      <a routerLink="/online-edition" routerLinkActive="active" class="desktop-item">ONLINE EDITION</a>
      <input type="checkbox" id="showMega">
      <label for="showMega" class="mobile-item">Mega Menu</label>
      <div class="mega-box">
        <div class="content">
          <div class="row">
            <img src="../../../assets/images/products/womenOffer/iNT-ok.webp" alt="">
          </div>
          <div class="row">
            <header>WOMEN
            </header>
            <ul class="mega-links">
              <li><a href="#">STITCHED COLLECTION</a></li>
              <li><a href="#">UNSTITCHED COLLECTION</a></li>
              <li><a href="#">KURTI COLLECTION</a></li>
              <li><a href="#">MODEST WEAR (ABAYA)</a></li>
              <li><a href="#">SHAWLS</a></li>
              <li><a href="#">FOOTWEAR</a></li>
            </ul>
          </div>
          <!-- <div class="row">
            <header>YOUNGESTER FESTIVAL OFFER</header>
            <ul class="mega-links">
              <li><a href="#">TEEN BOYS</a></li>
              <li><a href="#">KID GIRLS</a></li>
              <li><a href="#">MODEST WEAR (ABAYA)</a></li>
              <li><a href="#">SHAWLS</a></li>
              <li><a href="#">FOOTWEAR</a></li>
           </ul>
          </div> -->
          <div class="row">
            <header>MEN </header>
            <ul class="mega-links">
              <li><a href="#"> KAMEEZ SHALWAR</a></li>
              <li><a href="#"> KURTA</a></li>
              <li><a href="#"> JUBBA-THOBE</a></li>
            </ul>
          </div>

          <div class="row">
            <header>YOUNGSTER </header>
            <ul class="mega-links">
              <li><a href="#">TEEN GIRL</a></li>
              <li><a href="#"> TEEN BOY</a></li>
              <li><a href="#">KID GIRL</a></li>
              <li><a href="#"> KID BOY</a></li>
              <li><a href="#"> INFANT GIRL</a></li>
              <li><a href="#">  INFANT BOYE</a></li>
            </ul>
          </div>

        </div>
      </div>
    </li>

    <li>
      <a routerLink="/cast" routerLinkActive="active" class="desktop-item animation2">CAST & CREW</a>
      <input type="checkbox" id="showMega">
      <label for="showMega" class="mobile-item">Mega Menu</label>
      <div class="mega-box">
        <div class="content">

          <div class="row">

          </div>

          <div class="row">
            <header>MEN</header>
            <ul class="mega-links">
              <li><a href="#">KAMEEZ SHALWAR</a></li>
              <li><a href="#">KURTA TROUSER</a></li>
              <li><a href="#">FLEXI PANTS</a></li>
              <li><a href="#">SANDALS</a></li>
            </ul>
          </div>
          <div class="row">
            <header>WOMEN</header>
            <ul class="mega-links">
              <li><a href="#"> UNSTITCHED</a></li>
              <li><a href="#" class="animation2"> STITCHED</a></li>
              <li><a href="#">KURTI</a></li>
              <li><a href="#"> STOLE</a></li>
              <li><a href="#"> TROUSER</a></li>
            </ul>
          </div>
          <div class="row">

          </div>

        </div>
      </div>
    </li>

    <li>
      <a routerLink="/women" routerLinkActive="active" class="desktop-item">WOMEN</a>
      <input type="checkbox" id="showMega">
      <label for="showMega" class="mobile-item">Mega Menu</label>
      <div class="mega-box">
        <div class="content">
          <div class="row">
            <img src="../../../assets/images/products/womenOffer/Men_4.webp" alt="">
          </div>
          <div class="row">
            <header>Design Services</header>
            <ul class="mega-links">
              <li><a href="#">Graphics</a></li>
              <li><a href="#">Vectors</a></li>
              <li><a href="#">Business cards</a></li>
              <li><a href="#">Custom logo</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Email Services</header>
            <ul class="mega-links">
              <li><a href="#">Personal Email</a></li>
              <li><a href="#">Business Email</a></li>
              <li><a href="#">Mobile Email</a></li>
              <li><a href="#">Web Marketing</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Security services</header>
            <ul class="mega-links">
              <li><a href="#">Site Seal</a></li>
              <li><a href="#">VPS Hosting</a></li>
              <li><a href="#">Privacy Seal</a></li>
              <li><a href="#">Website design</a></li>
            </ul>
          </div>
        </div>
      </div>

    </li>

    <li>
      <a routerLink="/men" routerLinkActive="active" class="desktop-item">MEN</a>
      <input type="checkbox" id="showMega">
      <label for="showMega" class="mobile-item">Mega Menu</label>
      <div class="mega-box">
        <div class="content">
          <div class="row">
            <img src="../../../assets/images/products/womenOffer/iNT-ok.webp" alt="">
          </div>
          <div class="row">
            <header>Design Services</header>
            <ul class="mega-links">
              <li><a href="#">Graphics</a></li>
              <li><a href="#">Vectors</a></li>
              <li><a href="#">Business cards</a></li>
              <li><a href="#">Custom logo</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Email Services</header>
            <ul class="mega-links">
              <li><a href="#">Personal Email</a></li>
              <li><a href="#">Business Email</a></li>
              <li><a href="#">Mobile Email</a></li>
              <li><a href="#">Web Marketing</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Security services</header>
            <ul class="mega-links">
              <li><a href="#">Site Seal</a></li>
              <li><a href="#">VPS Hosting</a></li>
              <li><a href="#">Privacy Seal</a></li>
              <li><a href="#">Website design</a></li>
            </ul>
          </div>
        </div>
      </div>

    </li>

    <li>
      <a routerLink="/boys-girls" routerLinkActive="active" class="desktop-item">BOYS & GIRLS</a>
      <input type="checkbox" id="showMega">
      <label for="showMega" class="mobile-item">Mega Menu</label>
      <div class="mega-box">
        <div class="content">
          <div class="row">
            <img src="../../../assets/images/products/womenOffer/women3_3.webp" alt="">
          </div>
          <div class="row">
            <header>Design Services</header>
            <ul class="mega-links">
              <li><a href="#">Graphics</a></li>
              <li><a href="#">Vectors</a></li>
              <li><a href="#">Business cards</a></li>
              <li><a href="#">Custom logo</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Email Services</header>
            <ul class="mega-links">
              <li><a href="#">Personal Email</a></li>
              <li><a href="#">Business Email</a></li>
              <li><a href="#">Mobile Email</a></li>
              <li><a href="#">Web Marketing</a></li>
            </ul>
          </div>
          <!-- <div class="row">
            <header>Security services</header>
            <ul class="mega-links">
              <li><a href="#">Site Seal</a></li>
              <li><a href="#">VPS Hosting</a></li>
              <li><a href="#">Privacy Seal</a></li>
              <li><a href="#">Website design</a></li>
            </ul>
          </div> -->
          <div class="row">
            <img src="../../../assets/images/products/womenOffer/women2.webp" alt="">
          </div>
        </div>
      </div>

    </li>

    <li>
      <a href="#" class="desktop-item">FRAGRANCES</a>
      <input type="checkbox" id="showMega">
      <label for="showMega" class="mobile-item">Mega Menu</label>
      <div class="mega-box">
        <div class="content">
          <!-- <div class="row">
            <img src="../../../assets/images/products/perfumes/pefume2.jpeg" alt="">
          </div> -->
          <div class="row">
            <header>Design Services</header>
            <ul class="mega-links">
              <li><a href="#">Graphics</a></li>
              <li><a href="#">Vectors</a></li>
              <li><a href="#">Business cards</a></li>
              <li><a href="#">Custom logo</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Email Services</header>
            <ul class="mega-links">
              <li><a href="#">Personal Email</a></li>
              <li><a href="#">Business Email</a></li>
              <li><a href="#">Mobile Email</a></li>
              <li><a href="#">Web Marketing</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Security services</header>
            <ul class="mega-links">
              <li><a href="#">Site Seal</a></li>
              <li><a href="#">VPS Hosting</a></li>
              <li><a href="#">Privacy Seal</a></li>
              <li><a href="#">Website design</a></li>
            </ul>
          </div>
          <div class="row">
            <img src="../../../assets/images/products/womenOffer/Men_4.webp" alt="">
          </div>
        </div>
      </div>

    </li>

    <li>
      <a href="#" class="desktop-item">MAKEUP</a>
      <input type="checkbox" id="showMega">
      <label for="showMega" class="mobile-item">Mega Menu</label>
      <div class="mega-box">
        <div class="content">
          <div class="row">
            <img src="../../../assets/images/products/womenOffer/women2.webp" alt="">
          </div>
          <div class="row">
            <header>Design Services</header>
            <ul class="mega-links">
              <li><a href="#">Graphics</a></li>
              <li><a href="#">Vectors</a></li>
              <li><a href="#">Business cards</a></li>
              <li><a href="#">Custom logo</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Email Services</header>
            <ul class="mega-links">
              <li><a href="#">Personal Email</a></li>
              <li><a href="#">Business Email</a></li>
              <li><a href="#">Mobile Email</a></li>
              <li><a href="#">Web Marketing</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Security services</header>
            <ul class="mega-links">
              <li><a href="#">Site Seal</a></li>
              <li><a href="#">VPS Hosting</a></li>
              <li><a href="#">Privacy Seal</a></li>
              <li><a href="#">Website design</a></li>
            </ul>
          </div>
        </div>
      </div>

    </li>

    <li>
      <a href="#" class="desktop-item">CATALOGUE</a>
      <input type="checkbox" id="showMega">
      <label for="showMega" class="mobile-item">Mega Menu</label>
      <div class="mega-box">
        <div class="content">
          <div class="row">
            <img src="../../../assets/images/products/womenOffer/Men_4.webp" alt="">
          </div>
          <div class="row">
            <header>Design Services</header>
            <ul class="mega-links">
              <li><a href="#">Graphics</a></li>
              <li><a href="#">Vectors</a></li>
              <li><a href="#">Business cards</a></li>
              <li><a href="#">Custom logo</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Email Services</header>
            <ul class="mega-links">
              <li><a href="#">Personal Email</a></li>
              <li><a href="#">Business Email</a></li>
              <li><a href="#">Mobile Email</a></li>
              <li><a href="#">Web Marketing</a></li>
            </ul>
          </div>
          <div class="row">
            <header>Security services</header>
            <ul class="mega-links">
              <li><a href="#">Site Seal</a></li>
              <li><a href="#">VPS Hosting</a></li>
              <li><a href="#">Privacy Seal</a></li>
              <li><a href="#">Website design</a></li>
            </ul>
          </div>
        </div>
      </div>

    </li>


  </ul>
  <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
</div>
</nav>


  </div>


</header>
