
.section-title{

  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.medicines-cont {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.medicine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-white);
  box-shadow: 3px 3px 10px var(--color-gray);
  padding: 15px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
}

.discount {
  /* width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-orange);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px;
  font-size: 13px;
  font-weight: 700;
  font-family: arial; */


  background-color: #ec6919;
    
    justify-content: center;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    align-self: center;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    padding: 6px;
    height: 42px;
    width: 42px;
    left: 15px;
    top: 10px;
    z-index: 1;
}

.medicine img {
  width: 80%;
  align-self: center;
}

.medicine-title {
  font-size: 16px;
}

.medicine-sub {
  color: var(--color-gray);
  margin-top: -35px;
  font-size: 13px;
}

.offer-price {
  font-size: 14px;
}

.current-price {
  color: var(--color-red);
  font-size: 22px;
}

.current-price .taka-symbol {
  font-size: 14px;
}

.previous-price {
  text-decoration: line-through;
}

.previous-price .taka-symbol {
  font-size: 12px;
}



/* carosol css  */


*,
*:before,
*:after {
    box-sizing: border-box;
}

.carousel {
    position: relative;
    width: 90%;
    height: 380px;
    margin: 0 auto;
}

.carousel-content {
    position: relative;
    overflow: hidden;
    transition: width .4s;
    height: 100%;
}

.slide {
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: left .4s cubic-bezier(.47, .13, .15, .89);
   
background-color: white;
box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
    border-radius: 10px;
    width: 224px !important;
    margin: 10px;


}

.nav1 {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    background-color: #005e6a;
    width: 20px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    opacity: 0.5;
    transition: ease-in 0.3s;
}

.nav:hover {
    box-shadow: 2px 2px 5px black;
    /* color: lightgrey; */
    opacity: 1;
}

.nav-left,
.nav-right {
    /* background: linear-gradient(lightgreen, darkgreen);
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center; */ 
    color: #fff;
    padding: 23px;
    background: -webkit-gradient(linear,left top,left bottom,from(#45bdaa),to(transparent));
    background: -webkit-linear-gradient(#45bdaa,transparent);
    background: linear-gradient(#45bdaa,transparent);
    background-color: #005e6a;
    border-radius: 50px;
    z-index: 2;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.nav-left {
    left: -25px;
}

.nav-right {
    right: -25px;
}

/* .carousel-arrow-icon-left {
    margin-left: 5px;
    margin-top: 2px;
}
.carousel-arrow-icon-right {
    margin-left: 7px;
    margin-top: 2px;
} */

@media (max-width:600px) {
.carousel {
    /* position: relative; */
    width: 350px;
    /* height: 380px; */
    /* margin: 0 auto; */
}

.services-cont {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  gap: 15px;
}

}